<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>

  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="server=192.168.55.12\SQLEXPRESS;database=itw;uid=sysmax;pwd=sysmax"/>-->
    <!--<add name="JasonConnection" providerName="System.Data.SqlClient" connectionString="server=Jason-PC\SQLEXPRESS;database=Test;uid=sa;pwd=password"/>-->
    <!--<add name="Test" providerName="System.Data.SqlClient" connectionString="server=10.48.64.5\sqlexpress;database=PatientGlobal;uid=sysmax;pwd=Condor!"/>-->
    <!--<add name="ITWProd" providerName="System.Data.SqlClient" connectionString="server=10.48.242.249,1433\sql2008;database=PatientGlobaL;uid=sysmax;pwd=Condor!"/>-->
    <!--<add name="MCareProd" providerName="System.Data.SqlClient" connectionString="server=10.48.242.249,1433\sql2008;database=mCareJH;uid=sysmax;pwd=Condor!"/>-->
  </connectionStrings>
  <appSettings>

    <!--From local-->

    <!--<add key="IPAddress" value="10.48.64.5"/>
    <add key="Port" value="2203"/>
    <add key="AuthCodeDirectory" value="C:\AuthCodeSender\AuthCodeDirectory\"/>
    <add key="AuthCodeLog" value="C:\AuthCodeSender\AuthCodeLog\Authlog.txt"/>
    <add key="errorlog" value="C:\AuthCodeSender\ErrorlogJH\"/>
    <add key="authcodeHistory" value="C:\AuthCodeSender\AuthCodeHistory\"/>
    <add key="problems" value="C:\AuthCodeSender\Problems\"/>
    <add key="countA" value="1" />-->


    <!--Prod-->
    <add key="IPAddress" value="10.208.31.12"/>
    <add key="Port" value="30072"/>
    <add key="AuthCodeDirectory" value="C:\Users\jsanchez\Documents\GitHub\AuthcodeSenderULH\AuthcodeSenderULH2\AuthCodeDirectory\"/>
    <add key="AuthCodeLog" value="C:\Users\jsanchez\Documents\GitHub\AuthcodeSenderULH\AuthcodeSenderULH2\AuthCodeLog\Authlog.txt"/>
    <add key="errorlog" value="C:\Users\jsanchez\Documents\GitHub\AuthcodeSenderULH\AuthcodeSenderULH2\Errorlog\"/>
    <add key="authcodeHistory" value="C:\Users\jsanchez\Documents\GitHub\AuthcodeSenderULH\AuthcodeSenderULH2\AuthCodeHistory\"/>
    <add key="problems" value="C:\Users\jsanchez\Documents\GitHub\AuthcodeSenderULH\AuthcodeSenderULH2\Problems\"/>
    <add key="countA" value="1" />


    <!--From Prod-->
    <!--<add key="IPAddress" value="10.48.64.5"/>
    <add key="Port" value="2207"/>
    <add key="authcodeHistory" value="C:\Documents and Settings\sysmax_svc\Desktop\AuthCodeSender\AuthCodeHistory\"/>
    <add key="AuthCodeDirectory" value="C:\Documents and Settings\sysmax_svc\Desktop\AuthCodeSender\AuthCodeDirectory\"/>   
    <add key="AuthCodeLog" value="C:\Documents and Settings\sysmax_svc\Desktop\AuthCodeSender\AuthCodeLog\Authlog.txt"/>
    <add key="errorlog" value="C:\Documents and Settings\sysmax_svc\Desktop\AuthCodeSender\Errorlog\"/>
    <add key="problems" value="C:\Documents and Settings\sysmax_svc\Desktop\AuthCodeSender\Problems\"/>-->



    <!--From Test-->
    <!--<add key="IPAddress" value="10.250.134.22"/>
    <add key="Port" value="30072"/>
    -->
    <!--<add key="IPAddress" value="10.48.242.35"/>
    <add key="Port" value="2207"/>-->
    <!--
    <add key="authcodeHistory" value="C:\AuthCodeSender\AuthCodeHistory\"/>
    <add key="AuthCodeDirectory" value="C:\AuthCodeSender\AuthCodeDirectory\"/>
    <add key="AuthCodeLog" value="C:\AuthCodeSender\AuthCodeLog\Authlog.txt"/>
    <add key="errorlog" value="C:\AuthCodeSender\ErrorLog\"/>
    <add key="problems" value="C:\AuthCodeSender\Problems\"/>-->

    <!--Prod
    <add key="IPAddress" value="10.250.134.30"/>
    <add key="Port" value="30072"/>-->


    <add key="AuthFile" value="HL7.*"/>



  </appSettings>

</configuration>

